<div id="contact-title">
    <h1>Get in Touch</h1>
    
</div>
<div id="email-form">
    <form>
        <label for="name">Full name:</label><br>
        <input type="text" id="name" name="name" placeholder="Enter your name" required><br>
        
        <label for="email">Email address:</label><br>
        <input type="email" id="email" name="email" placeholder="Enter your email address" required><br>
        
        <label for="num">Contact number:</label><br>
        <input type="tel" id="num" name="num" placeholder="Enter your number"><br>
        
        <label for="msg">Message:</label><br>
        <textarea id="msg" name="msg" placeholder="Type your message here" rows="5" required></textarea><br>
       
        <input id="sub" type="submit" value="Send">
    </form>
</div>
