<div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-6">
      <img src="/Headshot_Crop.jpg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
    </div>
    <div class="col-lg-6">
      <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Lauren Dudgeon</h1>
      <p class="lead">Quickly design and customize responsive mobile-first sites with Bootstrap, the world’s most popular front-end open source toolkit, featuring Sass variables and mixins, responsive grid system, extensive prebuilt components, and powerful JavaScript plugins.</p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Resume Download</button>
        <button type="button" class="btn btn-outline-secondary btn-lg px-4">Connect with Me</button>
      </div>
    </div>
  </div>
  <hr style="color: black">
  <div class="experience">
    <h2>Experience</h2>
    <div class="job">
      <img src="skillstorm_logo.jpeg" alt="Skillstorm Logo" class="company">
      <div class="job-text">
        <h5 style="font-size:2vw;"><strong>Full-Stack Developer</strong></h5>
        <p style="font-size:1.75vw;">June 2024 - Present</p>
        <p style="font-size:1.5vw; max">Develop and deploy full-stack web applications using NestJS, TypeScript, and Angular, hosted on AWS.
          Utilized Jira for project tracking and version control with Git/GitHub.
        </p>
    </div>
    </div>
    <div class="job">
      <img src="Ohio_State_University_seal.png" alt="Ohio State University Logo" class="company">
      <div class="job-text">
        <h5 style="font-size:2vw;"><strong>Student Assistant</strong></h5>
        <p style="font-size:1.75vw;">August 2023 - December 2023</p>
        <p style="font-size:1.5vw; max"> Managed and prioritized grading and student meetings effectively. 
          Fostered communication and teamwork for seamless task completion.
        </p>
    </div>
    </div>
  </div>
  <hr>